/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/weather/clear sky.jpg');
}

.container {
  border: 3px solid black;
  max-width: 420px;
  padding: 2rem;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border-radius: 60px;
}

/*Seach Section*/
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.search-bar {
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  padding: 6px;
  width: 80%;
  outline: none;
  border: none;
}

button {
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
  border: none;
  color: white;
}

.img-icon {
  width: 30px;
  height: 30px;
}

.img-icon :hover {
  background-color: rgba(0,0,0,0.8);
}

/*Display Info Section*/
.weather-item {
  padding: 0.8rem;
}
.icon-description-container {
    display: flex;
    align-items: center;
    justify-content: start;
  }
.description {
  text-transform: capitalize;
  padding-left: 0;
  }
/*align & center sunrise & sunset containers*/
.sun-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*align & center sunrise's & sunset's img and text*/
.sun-flex-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.sun {
  background-color: white
}

/*Adapt for Phones*/
@media only screen and (max-width: 480px) {
  .search-bar {
    font-size: 15px;
  }
}
